<div class="index_view">
<h1>Welcome to DietPlanner!</h1>

<h3><p>Your foods, calories, meals, diets, ups and downs in a suppportive volunteer community.</p></h3><br><br><br>

  <p>"Man who stand on mountain, with mouth open,    waiting for Roast Duck to fly in...have very long wait."
  <br>-- Confucius
  </p>

  <p>“That which is measured, improves”
  <i><br>-- Mom</i></a></p>
</div>