<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/BradSmith/Downloads/swt-diet-planner-vids/Rec 01-30-17 1.trec</key>
	<data>
	Ym9vawADAAAAAAQQMAAAAKLoQdrCSWx/Va9bxzfwzXjU/K3qI5n9nwh4w6iusa5l/AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAEJyYWRTbWl0aAAAAAkA
	AAABAQAARG93bmxvYWRzAAAAFQAAAAEBAABzd3QtZGlldC1wbGFubmVyLXZpZHMAAAAT
	AAAAAQEAAFJlYyAwMS0zMC0xNyAxLnRyZWMAFAAAAAEGAAAQAAAAIAAAADQAAABIAAAA
	aAAAAAgAAAAEAwAA+WYCAAAAAAAIAAAABAMAALk2CQAAAAAACAAAAAQDAAC8NgkAAAAA
	AAgAAAAEAwAAOSixAgAAAAAIAAAABAMAAOukqgIAAAAAFAAAAAEGAACgAAAAsAAAAMAA
	AADQAAAA4AAAAAgAAAAABAAAQb5AF2sAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
	AAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAAKxwAAAACAAAAAAEAABBuV6xxgAA
	ACQAAAABAQAAQTA1MUVDMEUtRTg4RC0zODJELTlFMTQtMkRGNUZFMUNDMTQyGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+
	////AQAAAAAAAAAQAAAABBAAAIQAAAAAAAAABRAAAPAAAAAAAAAAEBAAABwBAAAAAAAA
	QBAAAAwBAAAAAAAAAiAAAOgBAAAAAAAABSAAAFgBAAAAAAAAECAAAGgBAAAAAAAAESAA
	AJwBAAAAAAAAEiAAAHwBAAAAAAAAEyAAAIwBAAAAAAAAICAAAMgBAAAAAAAAMCAAAPQB
	AAAAAAAAAcAAADwBAAAAAAAAEcAAACAAAAAAAAAAEsAAAEwBAAAAAAAAENAAAAQAAAAA
	AAAA
	</data>
	<key>/Users/BradSmith/Downloads/swt-diet-planner-vids/Rec 01-30-17.trec</key>
	<data>
	Ym9vawADAAAAAAQQMAAAABh6Jg6TSg4iAFIHBIkRLuWKehYZz1dGFm9SMrPKmLxS/AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAEJyYWRTbWl0aAAAAAkA
	AAABAQAARG93bmxvYWRzAAAAFQAAAAEBAABzd3QtZGlldC1wbGFubmVyLXZpZHMAAAAR
	AAAAAQEAAFJlYyAwMS0zMC0xNy50cmVjAAAAFAAAAAEGAAAQAAAAIAAAADQAAABIAAAA
	aAAAAAgAAAAEAwAA+WYCAAAAAAAIAAAABAMAALk2CQAAAAAACAAAAAQDAAC8NgkAAAAA
	AAgAAAAEAwAAOSixAgAAAAAIAAAABAMAAHykqgIAAAAAFAAAAAEGAACgAAAAsAAAAMAA
	AADQAAAA4AAAAAgAAAAABAAAQb5AFeAAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
	AAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAAKxwAAAACAAAAAAEAABBuV6xxgAA
	ACQAAAABAQAAQTA1MUVDMEUtRTg4RC0zODJELTlFMTQtMkRGNUZFMUNDMTQyGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+
	////AQAAAAAAAAAQAAAABBAAAIQAAAAAAAAABRAAAPAAAAAAAAAAEBAAABwBAAAAAAAA
	QBAAAAwBAAAAAAAAAiAAAOgBAAAAAAAABSAAAFgBAAAAAAAAECAAAGgBAAAAAAAAESAA
	AJwBAAAAAAAAEiAAAHwBAAAAAAAAEyAAAIwBAAAAAAAAICAAAMgBAAAAAAAAMCAAAPQB
	AAAAAAAAAcAAADwBAAAAAAAAEcAAACAAAAAAAAAAEsAAAEwBAAAAAAAAENAAAAQAAAAA
	AAAA
	</data>
</dict>
</plist>
